In [1]:
#Import numpy and pandas 
import numpy as np
import pandas as pd
from pathlib import Path

# set the file path
file_path = Path("budget_data.csv")
budget_dataframe = pd.read_csv(file_path)

In [2]:
#Ensure the csv file uploaded is correct by using head function
budget_dataframe.head(5)

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [79]:
# The total number of months included in the dataset.
total_months = budget_dataframe.iloc[:,0].count()

In [80]:
# The net total amount of Profit/Losses over the entire period.
net_total_amount = budget_dataframe.iloc[:,1].sum()

In [81]:
# The average of the changes in Profit/Losses over the entire period.
# Add a column that calculates the change of profit and losses, then add the total and divide by the number of
# months, remembering to minus one month for the calculation.
#create extra change in P/L column and test
budget_dataframe["Change in P/L"] = (budget_dataframe.iloc[:,1] - budget_dataframe.iloc[:,1].shift(1))
budget_dataframe.head(5)

     Date  Profit/Losses  Change in P/L
0  Jan-10         867884            NaN
1  Feb-10         984655       116771.0
2  Mar-10         322013      -662642.0
3  Apr-10         -69417      -391430.0
4  May-10         310503       379920.0

In [82]:
# The average of the changes in Profit/Losses over the entire period.
sum_profit_loss = budget_dataframe.iloc[1:,2].sum()
avg_profit_loss = (sum_profit_loss / (total_months-1)).round(2)

In [93]:
#find min and max values in the "Change in P/L" column

max_increase = budget_dataframe.iloc[:,2].max()
max_decrease = budget_dataframe.iloc[:,2].min()

In [84]:
#Locate what date corresponds to both min and max values

max_date = budget_dataframe.loc[budget_dataframe['Change in P/L'].idxmax(), 'Date']
min_date = budget_dataframe.loc[budget_dataframe['Change in P/L'].idxmin(), 'Date']

In [92]:
print("Financial Analysis")
print("------------------------------")
print(f"Total Months:", total_months)
print(f"Net Total Profit/Loss: $",net_total_amount)
print(f"Average Change In Profit/Loss: $", avg_profit_loss)
print(f"Greatest Increase In Profits: $", max_increase)
print(f"Greatest Decrease In Profits): $", max_decrease)

Financial Analysis
------------------------------
Total Months: 86
Net Total Profit/Loss: $ 38382578
Average Change In Profit/Loss: $ -2315.12
Greatest Increase In Profits: $ 1926159.0
Greatest Decrease In Profits): $ -2196167.0